@model AnagramSolver.WebApp.Models.PaginatedList<AnagramSolver.Contracts.Models.Word>

@{
    Layout = "_Layout";
}
<div>

    <p>@Html.ValidationMessage("Error")</p>

    <p>
        <b>List of Anagrams</b>
    </p>

    @if (Model.Count > 0)
    {
        <table>
            <tr>
                <th>FirstForm</th>
                <th>SecondForm</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.FirstForm, "Index",
                            "Home", new { word = item.FirstForm },
                            null)
                    </td>
                    <td>
                        @Html.ActionLink(item.SecondForm, "Index",
                            "Home", new { word = item.SecondForm },
                            null)
                    </td>

                    <td>
                        @Html.ActionLink("Update", "UpdateWord",
                            "Home", new { id = item.WordId, word = item.SecondForm, page = Model.PageIndex },
                            null)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteWord",
                            "Home", new { id = item.WordId, page = Model.PageIndex },
                            null)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No words in database</p>
    }
    @if (Model.HasPreviousPage)
    {
        <span style="margin-right: 15px;">
            @Html.ActionLink("Previous", "Anagrams",
                "Home", new { pageNumber = Model.PageIndex - 1 },
                null)
        </span>
    }
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next", "Anagrams",
            "Home", new { pageNumber = Model.PageIndex + 1 },
            null)
    }
</div>