<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div>
    @{
        <span>
            @Html.ActionLink("Home", "Anagrams",
                "Home")
        </span>
        <span>
            @Html.ActionLink("Find Anagrams", "Index",
                "Home")}
        </span>
        <span>
            @Html.ActionLink("Search Words", "SearchWords",
                "Home")}
        </span>
        <span>
            @Html.ActionLink("Find Anagrams Stats", "SearchWordsInfo",
                "Home")}
        </span>
        <span>
            @Html.ActionLink("Add Word", "AddWord",
                "Home")}
        </span>
        <br/>
        <br/>
        <span>Recent searches</span>
        if (Context.Request.Cookies["Count"] != null)
        {
            @if (int.TryParse(Context.Request.Cookies["Count"], out var count))
            {
                @for (var i = 0; i < count; i++)
                {
                    <span>
                        @Html.ActionLink(Context.Request.Cookies["Value_" + i], "Index",
                            "Home", new { word = Context.Request.Cookies["Value_" + i] },
                            null)
                    </span>
                }
            }
        }
        <br/>
    }
</div>

@RenderBody()

</body>
</html>